doctype html
html
    head
        title FKCreator - The best YouTube channel for Amazing Videos | fkcreator.ml - #{title}
        block style
    body
        //- nav#navbar
        //-     .image
        //-         img(src='static/home/logo.jpeg' alt='logo here')
        //-     .points
        //-         ul
        //-             li
        //-                 a#homw.active(href='/') Home
        //-             li
        //-                 a(href='/about') About
        //-             li
        //-                 a(href='/services') Services
        //-             li
        //-                 a(href='/contact') Contact Us
        //-     .rn
        //-         form#forms(action='' method='')
        //-         input#search(type='text' name='search' placeholder='Search...')
        //-         button#btn1 Search 
        block content
        footer.footer
            .f
                p#1
                    | Vedica Heights, Shivaji Road, Opp to Hira Hotel, Miraj, Sangli, Maharashtra, India | Contact -
                    | 73978-50690 | Gmail- mabdulwadood123@gmail.com |
                p#2 Copyright &copy; 2027 www.fkcreator.ml - All Rights Reserved.