extends base.pug

block style
    style
        include ../static/home/style.css 
block content
    .intro.background
        img(src='static/home/logo.jpeg' alt='logo here')
        h1 Welcome to FKCreator 
        p
            | Welcome to FKCreator here you will find lots of interesting articles and I even have a Youtube channel Please
            | visit and Subscribe to my Youtube channel.
            .bruh
                button#btn2
                    a(href='https://www.youtube.com/channel/UCM5OjMD0SP9KnGhIMx90MaA' target='__blank')
                        | Watch
                        | More Videos
                button#btn3
                    a(href='https://www.youtube.com/channel/UCM5OjMD0SP9KnGhIMx90MaA' target='__blank')
                        | Subscribe
    .conat.background1
        .head2
            h2  Some Info 
        .body2.background2
                .container1
                    .card
                        .card-img
                            img(src='static/home/1.webp' alt='image here')
                        .card-text
                            h2 Best Naat
                            p
                                | This is the newest naat of 2020 and as it was a rare naat I have uploaded it and If anyone
                                | wants to watch that naat then please click on the button at the top of the page.
        .body2.background2
                .container1
                    .card
                        .card-img
                            img(src='static/home/2.webp' alt='image here')
                        .card-text
                            h2 Simple Navbar
                            p
                                | Hello Friends in this video I have shown how to make a simple navbar using HTML and CSS. All
                                | the credits of all coding videos goes to my friend as he has made them all.
        .body2.background2
                .container1
                    .card
                        .card-img
                            img(src='static/home/3.webp' alt='image here')
                        .card-text
                            h2 Ertugrul Ghazi
                            p
                                | Ertugrul Ghazi is the most famous web-series in the world people from many countries have
                                | watched the whole series and In this video I have shown the real names of the characters in
                                | the series
        .card-linfo
            p If you want more Information then Click here 
            button
                a(href='about.html') More Info
    .coder.background3
            .heading12
                h1 Please Visit
                p
                    | As this website is made by my friend so he has put some of his created websites please do visit them also
            .coder2
                .temp.background4
                    .card123
                        img(src='static/home/fktk.jpg' alt='website image here')
                    .webtext
                        h1 FKCreator 
                        p
                            | Here is an another website of Fkcreator. If you want to visit then please click here or click the
                            | button below.
                    button#but
                        a(href='http://www.fkcreator.tk/' target='__blank')  Go Here
                .temp2.background4
                    .card123
                        img(src='static/home/codw.jpg' alt='website image here')
                    .webtext
                        h1  Code the World 
                        p
                            | Here is a website named CodetheWorld. In this website there is Information about various
                            | programming
                            | languages. (including html and css which is not a programming language)
                    button#but
                        a(href='http://www.worldiscode.cf/' target='__blank')  Go Here
                    //- br
                    //- br
                    //- br
                .temp3.background4
                    .card123
                        img(src='static/home/mycre.jpg' alt='website image here')
                    .webtext
                        h1  My Creation 
                        p
                            | Here is a website named mycreation. In this website I have shown all the website I had made that
                            | time and it doesn&apos;t include this one. But then too Please visit it.
                    button#but
                        a(href='https://qvvqbxx5243uqmroidb7jq-on.drv.tw/Mycreation.com/' target='__blank')
                            | Go
                            | Here
                .temp2.background4
                    .card123
                        img(src='static/home/ieducation.jpg' alt='website image here')
                    .webtext
                        h1  iEducation 
                        p
                        | Here is a website named iEducation.I had made that website just as a template for me and for
                        | other people who want to make a simple website like that.
                    button#but
                        a(href='https://qvvqbxx5243uqmroidb7jq-on.drv.tw/www.iEducation.com/' target='__blank')  Go Here
            .ender
                h2 Hope you all may have visited the websites.
                h3 Thank You for visiting 