<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="home/logo.jpeg">
    <title>FKCreator - The best YouTube channel for Amazing Videos | fkcreator.ml </title>
    <link rel="stylesheet" href="about/styleA.css">
</head>

<body>
    <nav id="navbar">
        <div class="image">
            <img src="home/logo.jpeg" alt="logo here">
        </div>
        <div class="points">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a id="abou" class="active" href="about.html">About</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="contact.html">Contact Us</a></li>
            </ul>
        </div>
        <div class="rn">
            <form action="" method="" id="forms">
                <input type="text" name="search" id="search" placeholder="Search...">
                <button id="btn1">Search</button>
            </form>
        </div>
    </nav>
    <div class="imagec background1">
        <h1>About Us</h1>
    </div>
    <div class="hello">
        <h1> Welcome to About Page </h1>
        <p>Hello friends welcome to About Page In this page I describe about my videos and source codes for my coding
            videos. </p>
    </div>
    <div class="infos">
        <div class="card">
            <div class="card-img">
                <img src="about/img1.webp" alt="">
            </div>
            <div class="card-body">
                <h1>New Naat Status</h1>
                <p>This video is about the recently released new naat status and is very interesting If you want to
                    watch that video click the button below</p>
                <button><a href="https://www.youtube.com/watch?v=DtQCCFZFtHc" target="_blank"> Watch Video </a></button>
            </div>
        </div>
        <div class="card2">
            <div class="card-img">
                <img src="about/img2.webp" alt="">
            </div>
            <div class="card-body">
                <h1>Ertugrul Ghazi</h1>
                <p>Ertugrul Ghazi is the most famous web-series in the world people from many countries have
                    watched the whole series and In this video I have shown the real names of the characters in
                    the series</p>
                <button><a href="https://www.youtube.com/watch?v=W2j9to6Us_M" target="_blank"> Watch Video </a></button>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="about/img3.webp" alt="">
            </div>
            <div class="card-body">
                <h1>How to hide an image in mobile</h1>
                <p>In this video I have shown how to hide media files such as photos and videos in our gallery. If you
                    want to
                    watch that video click the button below </p>
                <button><a href="https://www.youtube.com/watch?v=YvKifr2ilS8" target="_blank"> Watch Video </a></button>
            </div>
        </div>
        <div class="card2">
            <div class="card-img">
                <img src="about/img4.webp" alt="">
            </div>
            <div class="card-body">
                <h1>How to make a simple navbar</h1>
                <p>In this video I have shown How to make a simple navbar using html and css To watch the video click
                    the button below</p>
                <button><a href="https://www.youtube.com/watch?v=FYF_tKr6rLU" target="_blank"> Watch Video </a></button>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="about/img5.webp" alt="">
            </div>
            <div class="card-body">
                <h1>A bayan by Hazarat Aminul Qadri</h1>
                <p>This is a bayan given by Hazarat Aminul Qadri In which he says about the people who waste their money
                    for no purpose.</p>
                <button><a href="https://www.youtube.com/watch?v=ziTdcr7U1-E" target="_blank"> Watch Video </a></button>
            </div>
        </div>
        <div class="card2">
            <div class="card-img">
                <img src="about/img6.webp" alt="">
            </div>
            <div class="card-body">
                <h1>A new naat status</h1>
                <p>This video is about the recently released new naat status in 2021 and is very interesting If you want to
                    watch that video click the button below</p>
                <button><a href="https://www.youtube.com/watch?v=hZ7Ffx86yrg" target="_blank"> Watch Video </a></button>
            </div>
        </div>
    </div>


    <footer class="footer">
        <div class="f">
            <p id="1">Vedica Heights, Shivaji Road, Opp to Hira Hotel, Miraj, Sangli, Maharashtra, India | Contact -
                73978-50690 | Gmail- mabdulwadood123@gmail.com |</p>
            <p id="2">Copyright © 2027 www.fkcreator.ml - All Rights Reserved.</p>
        </div>
    </footer>
</body>

</html>