<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="home/logo.jpeg">

    <title>FKCreator - The best YouTube channel for Amazing Videos | fkcreator.ml</title>
    <link rel="stylesheet" href="contact/styleC.css">
    <link rel="stylesheet" href="contact/responsiveC.css">
</head>
<body>
    <nav id="navbar" >
        <div class="image">
            <img src="home/logo.jpeg" alt="logo here">
        </div>
        <div class="points">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a id="cont" class="active" href="contact.html">Contact Us</a></li>
            </ul>
        </div>
        <div class="rn">
            <form action="" method=""id="forms">
                <input type="text" name="search" id="search" placeholder="Search...">
                <button id="btn1">Search</button>
            </form>
        </div>
    </nav>
    <div class="contact-t">
        <h1>Contact Us</h1>
        <h3>Please fill up the contact Form to contact Us </h3>
    </div>
    <div class="contact">
        <form action="" method="post">
            <div class="elem-group">
              <label for="name">Your Name</label>
              <input type="text" id="name" name="yname" placeholder="Your Name" pattern=[A-Z\sa-z]{3,20} required>
            </div>
            <div class="elem-group">
              <label for="email">Your E-mail</label>
              <input type="email" id="email" name="email" placeholder="example@example.com" required>
            </div>
            <!-- <div class="elem-group">
              <label for="department-selection">Choose Concerned Department(optional)</label>
              <select id="department-selection" name="concerned_department" >
                  <option value="">Select a Department</option>
                  <option value="billing">Billing</option>
                  <option value="marketing">Marketing</option>
                  <option value="technical support">Technical Support</option>
              </select>
            </div> -->
            <div class="elem-group">
              <label for="title" >Subject</label>
              <input type="text" id="title" name="subject" required placeholder="Your Subject. " pattern=[A-Za-z0-9\s]{8,60}>
            </div>
            <div class="elem-group">
              <label for="message">Message</label>
              <textarea id="message" name="desc" placeholder=" Your Message here." required></textarea>
            </div>
            <button type="submit">Send Message</button>
          </form>
    </div>

    <footer class="footer">
        <div class="f">
            <p id="1">Vedica Heights, Shivaji Road, Opp to Hira Hotel, Miraj, Sangli, Maharashtra, India | Contact - 73978-50690 | Gmail- mabdulwadood123@gmail.com |</p>
                <p id="2">Copyright © 2027 www.fkcreator.ml - All Rights Reserved.</p>
        </div>
    </footer>

</body>
</html>

<!-- REMEMBER TO ADD A FOOTER -->