<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="home/logo.jpeg">
    <title>FKCreator - The best YouTube channel for Amazing Videos | fkcreator.ml </title>
    <link rel="stylesheet" href="home/styleH.css">
    <link rel="stylesheet" href="home/styleResponsiveH.css">

</head>

<body>
    <nav id="navbar">
        <div class="image">
            <img src="home/logo.jpeg" alt="logo here">
        </div>
        <div class="points">
            <ul>
                <li><a id="homw" class="active" href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="contact.html">Contact Us</a></li>
            </ul>
        </div>
        <div class="rn">
            <form action="" method="" id="forms">
                <input type="text" name="search" id="search" placeholder="Search...">
                <button id="btn1">Search</button>
            </form>
        </div>
    </nav>
    <div class="intro background">
        <img src="home/logo.jpeg" alt="logo here">
        <h1>Welcome to FKCreator </h1>
        <p>Welcome to FKCreator here you will find lots of interesting articles and I even have a Youtube channel Please
            visit and Subscribe to my Youtube channel.</p>
        <div class="bruh">
            <button id="btn2"><a href="https://www.youtube.com/channel/UCM5OjMD0SP9KnGhIMx90MaA" target="__blank"> Watch
                    More Videos </a></button>
            <button id="btn3"><a href="https://www.youtube.com/channel/UCM5OjMD0SP9KnGhIMx90MaA" target="__blank">
                    Subscribe </a></button>
        </div>
    </div>
    <div class="conat background1">
        <div class="head2 ">
            <h2> Some Info </h2>
        </div>
        <div class="body2 background2">
            <div class="container1">
                <div class="card">
                    <div class="card-img">
                        <img src="home/1.webp" alt="image here">
                    </div>
                    <div class="card-text">
                        <h2>Best Naat</h2>
                        <p>This is the newest naat of 2020 and as it was a rare naat I have uploaded it and If anyone
                            wants to watch that naat then please click on the button at the top of the page.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="body2 background2">
            <div class="container1">
                <div class="card">
                    <div class="card-img">
                        <img src="home/2.webp" alt="image here">
                    </div>
                    <div class="card-text">
                        <h2>Simple Navbar</h2>
                        <p>Hello Friends in this video I have shown how to make a simple navbar using HTML and CSS. All
                            the credits of all coding videos goes to my friend as he has made them all. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="body2 background2">
            <div class="container1">
                <div class="card">
                    <div class="card-img">
                        <img src="home/3.webp" alt="image here">
                    </div>
                    <div class="card-text">
                        <h2>Ertugrul Ghazi</h2>
                        <p>Ertugrul Ghazi is the most famous web-series in the world people from many countries have
                            watched the whole series and In this video I have shown the real names of the characters in
                            the series</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-linfo">
            <p>If you want more Information then Click here </p>
            <button> <a href="about.html">More Info</a> </button>
        </div>
    </div>
    <div class="coder background3">
        <div class="heading12 ">
            <h1>Please Visit</h1>
            <p>As this website is made by my friend so he has put some of his created websites please do visit them also
            </p>
        </div>
        <div class="coder2">
            <div class="temp background4">
                <div class="card123">
                    <img src="home/fktk.jpg" alt="website image here">
                </div>
                <div class="webtext">
                    <h1>FKCreator </h1>
                    <p>Here is an another website of Fkcreator. If you want to visit then please click here or click the
                        button below.</p>
                </div>
                <button id="but"><a href="http://www.fkcreator.tk/" target="__blank"> Go Here</a></button>
            </div>
            <div class="temp2 background4">
                <div class="card123">
                    <img src="home/codw.jpg" alt="website image here">
                </div>
                <div class="webtext">
                    <h1> Code the World </h1>
                    <p>Here is a website named CodetheWorld. In this website there is Information about various
                        programming
                        languages. (including html and css which is not a programming language)</p>
                </div>
                <button id="but"><a href="http://www.worldiscode.cf/" target="__blank"> Go Here</a></button>
            </div>
            <br>
            <br>
            <br>
            <div class="temp3 background4">
                <div class="card123">
                    <img src="home/mycre.jpg" alt="website image here">
                </div>
                <div class="webtext">
                    <h1> My Creation </h1>
                    <p> Here is a website named mycreation. In this website I have shown all the website I had made that
                        time and it doesn't include this one. But then too Please visit it. </p>
                </div>
                <button id="but"><a href="https://qvvqbxx5243uqmroidb7jq-on.drv.tw/Mycreation.com/" target="__blank"> Go
                        Here</a></button>
            </div>
            <div class="temp2 background4">
                <div class="card123">
                    <img src="home/ieducation.jpg" alt="website image here">
                </div>
                <div class="webtext">
                    <h1> iEducation </h1>
                    <p> Here is a website named iEducation.I had made that website just as a template for me and for
                        other people who want to make a simple website like that. </p>
                </div>
                <button id="but"><a href="https://qvvqbxx5243uqmroidb7jq-on.drv.tw/www.iEducation.com/"
                        target="__blank"> Go Here</a></button>
            </div>
        </div>
        <div class="ender ">
            <h2>Hope you all may have visited the websites.</h2>
            <h3>Thank You for visiting </h3>
        </div>
    </div>
    <footer class="footer">
        <div class="f">
            <p id="1">Vedica Heights, Shivaji Road, Opp to Hira Hotel, Miraj, Sangli, Maharashtra, India | Contact -
                73978-50690 | Gmail- mabdulwadood123@gmail.com |</p>
            <p id="2">Copyright © 2027 www.fkcreator.ml - All Rights Reserved.</p>
        </div>
    </footer>
</body>

</html>