<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="home/logo.jpeg">

    <title>FKCreator - The best YouTube channel for Amazing Videos | fkcreator.ml </title>
    <link rel="stylesheet" href="services/styleS.css">
</head>

<body>
    <nav id="navbar">
        <div class="image">
            <img src="home/logo.jpeg" alt="logo here">
        </div>
        <div class="points">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a id="serv" class="active" href="services.html">Services</a></li>
                <li><a href="contact.html">Contact Us</a></li>
            </ul>
        </div>
        <div class="rn">
            <form action="" method="" id="forms">
                <input type="text" name="search" id="search" placeholder="Search...">
                <button id="btn1">Search</button>
            </form>
        </div>
    </nav>
    <div class="heading background1">
        <h1>Services</h1>
    </div>
    <div class="b">
        <h1>Our Services</h1>
    </div>
    <div class="bo">
        <p>Hello friends I have a Youtube channel and I always upload interesting videos on different topics such as
            Coding, Naat, Bayan etc. But as this is my friends Website He has also shown some of his services please see
            that too. </p>
    </div>
    <hr>
    <div class="coderser background2">
        <h1>Website services</h1>
        <p>Hello friends here are some website services that you can have If you want to make a website like this one or
            one from the websites that I have shown on the home page </p>
    </div>
    <div class="scard">
        <div class="card">
                <div class="card-img">
                    <img src="services/tick1.png" alt="tick">
                </div>
                <div class="card-body"> 
                    <p>Make the Website as You Want.</p>
                </div>
        </div>
        <div class="card">
                <div class="card-img">
                    <img src="services/tick1.png" alt="tick">
                </div>
                <div class="card-body"> 
                    <p>Submit Your Website in Your Desired Time.</p>
                </div>
        </div>
        <div class="card">
                <div class="card-img">
                    <img src="services/tick1.png" alt="tick">
                </div>
                <div class="card-body"> 
                    <p>Make Changes According to your Wishes in your website.</p>
                </div>
        </div>
        <div class="card">
                <div class="card-img">
                    <img src="services/tick1.png" alt="tick">
                </div>
                <div class="card-body"> 
                    <p>Create a beautiful Front-End Website</p>
                </div>
        </div>
        <div class="card">
                <div class="card-img">
                    <img src="services/tick1.png" alt="tick">
                </div>
                <div class="card-body"> 
                    <p>I Will Make My First Ten Projects for Free</p>
                </div>
        </div>
    </div>
    <div class="thanks">
        <h1>Thank you for visiting this website </h1>
    </div>
    <footer class="footer">
        <div class="f">
            <p id="1">Vedica Heights, Shivaji Road, Opp to Hira Hotel, Miraj, Sangli, Maharashtra, India | Contact -
                73978-50690 | Gmail- mabdulwadood123@gmail.com |</p>
            <p id="2">Copyright © 2027 www.fkcreator.ml - All Rights Reserved.</p>
        </div>
    </footer>
</body>
</html>